In [3]:
import agate

In [4]:
sports = agate.Table.from_csv('raw_college_sports_budgets.csv')

In [5]:
print(sports)

|---------------------+------------|
|  column             | data_type  |
|---------------------+------------|
|  College            | Text       |
|  Sport              | Text       |
|  City               | Text       |
|  Classification     | Text       |
|  Male enrollment    | Number     |
|  Female enrollment  | Number     |
|  Total enrollment   | Number     |
|  Type               | Text       |
|  Gender             | Text       |
|  PARTIC_MEN         | Number     |
|  PARTIC_WOMEN       | Number     |
|  OPEXPPERPART_MEN   | Number     |
|  OPEXPPERTEAM_MEN   | Number     |
|  OPEXPPERPART_WOMEN | Number     |
|  OPEXPPERTEAM_WOMEN | Number     |
|  REV_MEN            | Number     |
|  REV_WOMEN          | Number     |
|  EXP_MEN            | Number     |
|  EXP_WOMEN          | Number     |
|---------------------+------------|

In [50]:
sports_totals = sports.group_by('Sport')
mens_totals = sports.where(lambda row: row['PARTIC_MEN'] != None)
mens_sports = mens_totals.group_by('Sport')
womens_totals = sports.where(lambda row: row['PARTIC_WOMEN'] != None)
womens_sports = womens_totals.group_by('Sport')

In [51]:
print(sports_totals)
print(mens_sports)
print(womens_sports)

|---------------------+-------|
|  table              | rows  |
|---------------------+-------|
|  All Track Combined | 79    |
|  Archery            | 1     |
|  Baseball           | 113   |
|  Basketball         | 279   |
|  Bowling            | 26    |
|  Diving             | 2     |
|  Equestrian         | 11    |
|  Fencing            | 16    |
|  Field Hockey       | 35    |
|  Football           | 35    |
|  Golf               | 108   |
|  Gymnastics         | 4     |
|  Ice Hockey         | 49    |
|  Lacrosse           | 162   |
|  Other Sports       | 10    |
|  Rowing             | 36    |
|  Sailing            | 1     |
|  Skiing             | 8     |
|  Soccer             | 260   |
|  Softball           | 113   |
|---------------------+-------|

|----------------------+-------|
|  table               | rows  |
|----------------------+-------|
|  All Track Combined  | 39    |
|  Baseball            | 113   |
|  Basketball          | 142   |
|  Bowling             | 11    |
|  Diving              | 1     |
|  Equestrian          | 1     |
|  Fencing             | 6     |
|  Football            | 35    |
|  Golf                | 75    |
|  Ice Hockey          | 30    |
|  Lacrosse            | 78    |
|  Other Sports        | 5     |
|  Rowing              | 14    |
|  Skiing              | 4     |
|  Soccer              | 136   |
|  Squash              | 9     |
|  Swimming            | 22    |
|  Swimming and Diving | 45    |
|  Table Tennis        | 1     |
|  Tennis              | 77    |
|----------------------+-------|

|---------------------+-------|
|  table              | rows  |
|---------------------+-------|
|  All Track Combined | 40    |
|  Archery            | 1     |
|  Basketball         | 137   |
|  Bowling            | 15    |
|  Diving             | 1     |
|  Equestrian         | 10    |
|  Fencing            | 10    |
|  Field Hockey       | 35    |
|  Golf               | 33    |
|  Gymnastics         | 4     |
|  Ice Hockey         | 19    |
|  Lacrosse           | 84    |
|  Other Sports       | 5     |
|  Rowing             | 22    |
|  Sailing            | 1     |
|  Skiing             | 4     |
|  Soccer             | 124   |
|  Softball           | 113   |
|  Squash             | 6     |
|  Swimming           | 27    |
|---------------------+-------|

In [24]:
classy_totals = sports.group_by('Classification')

In [25]:
print(classy_totals)

|---------------------------------------+-------|
|  table                                | rows  |
|---------------------------------------+-------|
|  NCAA Division I-A                    | 49    |
|  NCAA Division I-AA                   | 165   |
|  NCAA Division I-AAA                  | 162   |
|  NCAA Division III (without football) | 627   |
|  NCAA Division III (with football)    | 356   |
|  NCAA Division II (with football)     | 31    |
|  Other                                | 136   |
|  NCAA Division II (without football)  | 207   |
|  NAIA Division III                    | 37    |
|  NJCAA Division III                   | 345   |
|  NJCAA Division I                     | 17    |
|  NJCAA Division II                    | 13    |
|---------------------------------------+-------|

In [26]:
college_totals = sports.group_by('College')

In [27]:
print(college_totals)

|----------------------------------------------+-------|
|  table                                       | rows  |
|----------------------------------------------+-------|
|  Syracuse University                         | 16    |
|  Cornell University                          | 31    |
|  Iona College                                | 16    |
|  Manhattan College                           | 15    |
|  Fordham University                          | 18    |
|  University at Buffalo                       | 16    |
|  Columbia University in the City of New York | 27    |
|  SUNY at Binghamton                          | 17    |
|  Wagner College                              | 16    |
|  New York University                         | 19    |
|  Stony Brook University                      | 14    |
|  Marist College                              | 19    |
|  Ithaca College                              | 23    |
|  LIU Post                                    | 18    |
|  St Francis College                          | 15    |
|  Colgate University                          | 21    |
|  Rensselaer Polytechnic Institute            | 19    |
|  University of Rochester                     | 19    |
|  Utica College                               | 21    |
|  Canisius College                            | 16    |
|----------------------------------------------+-------|

In [9]:
syrause_sports = sports.where(lambda row: row['College'] == 'Syracuse University')

In [12]:
syrause_teams = syrause_sports.group_by('Sport')
print(syrause_teams)

|---------------------+-------|
|  table              | rows  |
|---------------------+-------|
|  All Track Combined | 2     |
|  Basketball         | 2     |
|  Field Hockey       | 1     |
|  Football           | 1     |
|  Ice Hockey         | 1     |
|  Lacrosse           | 2     |
|  Rowing             | 2     |
|  Soccer             | 2     |
|  Softball           | 1     |
|  Tennis             | 1     |
|  Volleyball         | 1     |
|---------------------+-------|